body {
    display: flex;
    justify-content: center;
    border-color: black;
    border-width: 1px;
}

#calculator {
    display: flex;
    flex-direction: column;
}

#screen {
    padding: 10px 0px;
    text-align: right;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
}

button {

}
