body {
    display: flex;
    justify-content: center;
    border-color: black;
    border-width: 1px;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: solid black;
}

#screen {
    padding: 8px 5px;
    margin-bottom: 10px;
    text-align: right;
    border: solid black;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
    flex: 1;
}

button {
    flex: 1;
}
